<html>
  <head>
    <title>Sala Incorreta</title>
    <h1>Página Vazia</h1>
    <p>Sala Inválida, igual a zero ou Vazia</p>
    <script>
      confirm('Sala Incorreta ou Inválida')
      window.location.replace('/')
    </script>
  </head>
</html>
