<html>
  <head>
    <title>Senha Incorreta</title>
    <h1>Página Vazia</h1>
    <p>Senha Inválida, igual a zero ou Vazia</p>
    <script>
      confirm('Senha Incorreta ou Inválida')
      window.location.replace('/')
    </script>
  </head>
</html>
