<div id="no-questions">
  <h1>Espaço vazio</h1>
  <p>Nenhuma questão</p>
</div>
<style>
  div#no-questions {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
  }
</style>
