@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

/*COLORS DEFAULT*/
html {
  --black: #0d114f;
  --white: #fafafa;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --red: #e83f5b;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --grey-dark: #4d5e77;
  --grey-blue: #a1b2cd;
  --grey-medium: #d3d9e2;
  --grey-light: #e5eaf1;

  --hover-blue: #5699ff;
  --hover-red: #ea4b65;
  --hover-grey: #8794a7;

  /*1rem = 16px (User Agent) = 100%* | font-size: 45%; /*62.5% = 10px*/
  font-size: 62.5%;
}

/* COLORS DARK PINK */
/*html {
  --black: #6512c4;
  --white: #fafafa;
  --light-blue: #fae0ff;
  --blue: #ff34f5;
  --red: #e83f5b;
  --background: #fbfcff;
  --overlay: #040911;
  --icons-details: #a5b0c1;

  --grey-dark: #4d5e77;
  --grey-blue: #b9ca1a;
  --grey-medium: #e2dad3;
  --grey-light: #f1e5ec;

  --hover-blue: #5699ff;
  --hover-red: #ea4b65;
  --hover-grey: #8794a7;
*/
/*1rem = 16px (User Agent) = 100%* | font-size: 45%; /*62.5% = 10px*/
/*font-size: 45%;
}
*/

body {
  height: 100vh;
  display: flex;
  background: var(--background);
}

body,
button,
input,
textarea {
  /* Intervalo de tamanho */
  font-size: clamp(14px, 1.6rem, 2vw);

  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
}

.content {
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* input and buttons */
input,
button,
.button {
  height: 5rem;
  border-radius: 0.8rem;
}

button,
.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--blue);
  color: var(--white);

  cursor: pointer;

  transition: filter 0.2s;
}

button:hover,
.button:hover {
  filter: brightness(1.2);
}

button > img,
.button > img {
  margin-right: 1rem;
  width: 2rem;
}

butoon.outlined,
.button.outlined {
  background: var(--white);
  color: var(--blue);
  border: 0.2rem solid var(--blue);
}

/*** BUTTONS COLORS ***/
button.red,
.button.red {
  background: var(--red);
  color: var(--white);
}

button.grey,
.button.grey {
  background: var(--grey-light);
  color: var(--grey-dark);
}

/*** HEADER ***/
.content header {
  width: 80%;
  margin: 3.5rem auto;
}

.content header img {
  width: 16.7rem;
}
